<ul class="list-unstyled d-flex align-items-cneter column-gap-4 mb-0">
	<li>
		<a href="javascript:void(0);" class="d-flex align-items-center h-100 p-1">
			<span class="material-icons">search</span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="d-flex align-items-center h-100 p-1">
			<span class="material-icons">notifications_active</span>
		</a>
	</li>
</ul>
