/* base：此專案所需要的全站樣式 */

// Debug
@if ($isDebug) {
	*, *::before, *::after {
		outline: 1px dashed blue;
	}
	div, ul, main, section {
		outline-style: solid;
	}
}


:root {
	--bs-border-color: var(--bs-gray-400);
	--bs-border-radius: 2px;
}

body {
	font-family: "Lato", sans-serif;
	line-height: $line-height;
}


img {
	// 自動適應視窗大小
	max-width: 100%;
	height: auto;
}

img, textarea {
	// 去除底部多餘空白
	vertical-align: middle;
}

// 表單元素
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

// 連結
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: var(--bs-success);
}

code {
	font-family: "Roboto Mono", monospace;
	color: var(--bs-success);
}

legend {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 16px;
}

hr {
	margin-top: 24.5px;
	margin-bottom: 24.5px;
	opacity: 1;
	border-color: var(--bs-gray-400);
}
