/* bs-override：覆寫 BS 元件樣式，或是以 BS 元件為基礎再延伸自訂樣式 */

/* BS 下拉選單 */
.dropdown-toggle {
	// 若指定 .icon-none 則將 BS 的下拉按鈕移除
	&.icon-none::after {
		display: none;
	}
}


/* BS 列表群組 */
.list-group-item {
	&.active {
		background-color: var(--bs-gray-100);
		border-color: var(--bs-gray-400);
		color: inherit;
	}
}


/* BS 卡片 */
.card {
	--bs-card-border-color: var(--bs-gray-400);
	
	.card-header {
		background-color: var(--bs-gray-100);
	}
}


/* BS 按鈕 */
.btn {
	// 改變行高預設值
	line-height: $line-height;
	
	// 改變上下 padding 預設值
	padding-top: 8px;
	padding-bottom: 8px;
	
	// 改變 btn-light 預設樣式
	&-light {
		--bs-btn-border-color: var(--bs-gray-400);
	}
}


/* 表格 */
.table {
	--bs-table-hover-bg: var(--bs-gray-100);
	
	> thead {
		th {
			padding: 0 8px 4px 0;
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	> tbody {
		th, td {
			padding: 17px 8px 14px 0;
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
}


/* 分頁 */
.pagination {
	--bs-link-color: var(--bs-success);
	--bs-pagination-active-bg: var(--bs-success);
	--bs-pagination-border-color: var(--bs-success);
	
	.page-link {
		padding-bottom: 7px;
	}
}


/* Modal */
.modal {
	--bs-modal-border-radius: 2px;
}