/* layout：共用佈局樣式 */

.main {
	max-width: 984px;	// TODO 測試完後拿掉
	margin-left: 297px;
	
	.container-fluid {
		padding-left: 33px;
		padding-right: 33px;
	}
}

.header {
	height: 93px;
	margin-bottom: 12px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&-title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 0;
		margin-right: 50px;
	}
}

// 使用者頭像
.user-photo {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}


/* 折疊效果 */
// 展開
.expand_more {
	display: none;
}
.expand_less {
	display: block;
}
// 收合
.collapsed {
	> .expand_more {
		display: block;
	}
	> .expand_less {
		display: none;
	}
}
